@font-face {
  font-family: Inter var;
  font-display: swap;
  src: url("/assets/font/intervar.woff2") format("woff2");
}

@font-face {
  font-family: Jetbrains Mono;
  font-display: swap;
  src: url("/assets/font/jetbrainsmono-regular.woff2") format("woff2");
}

.raleway-h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: inherit;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.75;
  letter-spacing: -0.16rem;
  color: black;
}

:root {
  --accent: #8926ed;
  --accent-faint: #8926ed55;

  --white: #ffffff;
  --white-light: #fafafa;
  --white-mid: #ededed;
  --white-dark: #cccccc;

  --black: #000000;
  --black-light: #333333;
  --black-mid: #222222;
  --black-dark: #111111;

  --grey-light: #999999;
  --grey-mid: #777777;
  --grey-dark: #555555;
  --gl-color-white: #FAFAFA;
}

*::selection {
  background-color: #8926ed50;
  color: purple;
}

body {
  background-color: var(--white-light);
  color: var(--black-light);

  padding: 2rem;
  max-width: 45rem;
  margin: 0 auto;
  vertical-align: baseline;

  tab-size: 4;
  text-indent: 0;
  line-height: 1.8;
  text-align: start;
  letter-spacing: normal;
  font-variation-settings: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt", "liga";
  font-family: "Inter var", "Inter", "Helvetica", "Arial", "Liberation Sans",
    "Noto sans", sans-serif;

  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  font-size: 1.5rem;
  line-height: 0.75;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

small {
  font-size: 0.8rem;
}

a {
  color: var(--black-mid);
  text-decoration-color: var(--grey-light);
  font-weight: 500;
  text-decoration: underline;
}

a:hover {
  color: var(--accent);
  text-decoration-color: var(--accent);
}

hr {
  border: 0.5px solid var(--grey-light);
  margin: 32px 0 32px 0;
}

ul,
ol,
li {
  text-decoration-color: var(--white-mid);
}

table,
th,
td {
  border: 1px solid var(--white-dark);
  border-collapse: collapse;
  padding: 0 5px 0 5px;
  text-align: left;
}

blockquote {
  border-left: var(--white-mid) solid 4px;
  padding: 0px 20px;
  margin: 20px 0 20px 0;
  font-weight: 500;
}

code {
  font-size: 0.9rem;
  font-family: "Jetbrains Mono", monospace;
}

pre {
  background: var(--white);
  border: solid 1px var(--white-dark);
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
  font-family: "Jetbrains Mono", monospace;
}

kbd {
  font-family: "Jetbrains Mono", monospace;
  font-size: 0.8rem;
}

mark {
  background: var(--accent-faint);
}

audio {
  border-radius: 5px;
  width: 100%;
  margin: 20px 0 20px 0;
  display: block;
}

img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 500px;
  margin: 20px 0 20px 0;
  display: block;
  box-shadow: -8px 8px 20px var(--white-dark);
}

video {
  border-radius: 5px;
  max-width: 100%;
  max-height: 500px;
  margin: 20px 0 20px 0;
  display: block;
}

fieldset {
  border: 1px solid var(--white-dark);
  border-radius: 6px;
  margin: 0;
  padding: 10px 20px;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="range"],
input[type="reset"],
input[type="submit"],
select {
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  display: block;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--white-mid);
  background-color: var(--white);
}

input[type="checkbox"],
input[type="radio"] {
  height: 1.2em;
  width: 1em;
}

input[type="radio"] {
  border-radius: 100%;
}

input {
  vertical-align: top;
}

label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

textarea {
  display: block;
  margin-right: 1rem;
  resize: vertical;
}

textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}

select {
  padding-right: 35px;
}

select[multiple] {
  padding-right: 10px;
  overflow-y: auto;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--accent);
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

legend {
  font-size: 0.9em;
  font-weight: 600;
}

input[type="range"] {
  margin: 10px 0;
  padding: 10px 0;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  outline: none;
  border-radius: 55px;
  background: var(--accent);
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 6px 20px;
  font-size: 0.9rem;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  filter: brightness(1.1);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  border: 1px solid var(--accent);
  box-shadow: none;
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  border-color: var(--grey-mid);
}

.headshot {
  border-radius: 50%;
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 125px;
  z-index: 6;
}

.headshot-container {
  margin-left: 10px;
}

.hp-header {
  display:flex;
  justify-content:space-between;
  @media screen and (min-width: 431px) {
      max-width: 300px;
  }
}

.flex {
  display: flex;
}

.align-end {
  align-self: end;
}

/* begin adidas carousel */

.gl-carousel__content {
  position: relative
}

.gl-carousel__slider {
  display: flex;
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%
}

.gl-carousel__slider::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0
}

.gl-carousel__slider--disable-swipe {
  pointer-events: none
}

.gl-carousel__slider--disable-swipe>* {
  pointer-events: all
}

.gl-carousel__page {
  display: flex;
  min-width: 100%;
  scroll-snap-align: center
}

.gl-carousel__item-wrapper {
  flex: 0 0 auto;
  margin: 0 10px 0 0;
  min-height: 1px;
  scroll-snap-align: none
}

.gl-carousel__item-wrapper--add-snap {
  scroll-snap-align: start
}

.gl-carousel__item-wrapper--highlight {
  border-bottom: 2px solid var(--gl-color-transparent)
}

.gl-carousel__item-wrapper--active,.gl-carousel__item-wrapper--highlight:hover {
  border-bottom: 2px solid var(--gl-color-border-active);
  position: relative
}

.gl-carousel__prev-next-button {
  align-items: center;
  background-color: var(--gl-color-transparent);
  border: none;
  color: var(--gl-color-icon);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: var(--gl-icon-motion-duration-color),var(--gl-motion-duration-backgroundcolor);
  transition-property: color,background-color,visibility;
  transition-timing-function: var(--gl-icon-motion-easing-color),var(--gl-motion-easing-backgroundcolor);
  z-index: 5;
  background-color: var(--gl-color-background);
  border: 1px solid var(--gl-button-color-border-secondary);
  padding: 0 var(--gl-spacing-0150)
}

.gl-carousel__prev-next-button:hover {
  background-color: var(--gl-color-background-inverse);
  color: var(--gl-icon-color-inverse)
}

.gl-carousel__prev-next-button:hover .gl-icon {
  color: var(--gl-icon-color-inverse)
}

.gl-carousel__prev-next-button:focus {
  outline: none
}

.gl-carousel__prev-next-button--hidden {
  opacity: 0;
  transition-duration: var(--gl-motion-duration-opacity),var(--gl-motion-duration-opacity);
  transition-property: opacity,visibility;
  transition-timing-function: var(--gl-motion-easing-opacity),var(--gl-motion-easing-opacity);
  visibility: hidden
}

.gl-carousel__prev-next-button--next {
  right: 0
}

.gl-carousel__prev-next-button--next-outside,.gl-carousel__prev-next-button--next-outside.gl-carousel__prev-next-button--square-type {
  margin-right: calc(var(--gl-spacing-0150)*-1)
}

.gl-carousel__prev-next-button--next-outside.gl-carousel__prev-next-button--vertical-type {
  margin-right: calc(var(--gl-spacing-0200)*-1)
}

.gl-carousel__prev-next-button--prev .gl-icon {
  transform: rotate(180deg)
}

.gl-carousel__prev-next-button--prev-outside,.gl-carousel__prev-next-button--prev-outside.gl-carousel__prev-next-button--square-type {
  margin-left: calc(var(--gl-spacing-0150)*-1)
}

.gl-carousel__prev-next-button--prev-outside.gl-carousel__prev-next-button--vertical-type {
  margin-left: calc(var(--gl-spacing-0200)*-1)
}

.gl-carousel__prev-next-button .gl-icon {
  color: var(--gl-color-icon);
  transition: color var(--gl-icon-motion-duration-color) var(--gl-icon-motion-easing-color)
}

.gl-carousel__prev-next-button:hover {
  background-color: var(--gl-color-background);
  border: 1px solid var(--gl-button-color-border-secondary-hover)
}

.gl-carousel__prev-next-button:hover .gl-icon {
  color: var(--gl-icon-color-hover)
}

.gl-carousel__prev-next-button--light {
  color: var(--gl-color-icon)
}

@media(pointer: fine) {
  .gl-carousel__prev-next-button--light:hover {
      background-color:var(--gl-icon-color-inverse);
      color: var(--gl-color-icon)
  }

  .gl-carousel__prev-next-button--light:hover .gl-icon {
      color: var(--gl-color-icon)
  }
}

.gl-carousel__prev-next-button--light:active {
  background-color: var(--gl-icon-color-inverse);
  color: var(--gl-color-icon)
}

.gl-carousel__prev-next-button--light .gl-icon {
  color: var(--gl-color-icon);
  transition: color var(--gl-icon-motion-duration-color) var(--gl-icon-motion-easing-color)
}

.gl-carousel--show-pagination .gl-carousel__prev-next-button,.gl-carousel--show-pagination .gl-carousel__prev-next-button--light {
  top: calc(50% - 15px)
}

.gl-carousel .gl-pagination {
  margin-top: var(--gl-spacing-0200)
}

.gl-carousel__product-card .gl-carousel__prev-next-button {
  background-color: var(--gl-color-transparent);
  border: none;
  height: 100%;
  padding: 0 var(--gl-spacing-0050);
  width: 20px
}

.gl-carousel__product-card .gl-carousel__prev-next-button:hover {
  background-color: var(--gl-color-background-inverse);
  color: var(--gl-icon-color-inverse)
}

.gl-carousel__product-card .gl-carousel__prev-next-button:hover .gl-icon {
  color: var(--gl-icon-color-inverse)
}

.inpage-nav_masked__TDHPH {
  opacity: 0;
  pointer-events: none
}

.inpage-nav_inpage-nav__xw90o {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--gl-color-white)
}

.inpage-nav_inpage-nav__xw90o .gl-carousel__prev-next-button {
  padding: 0
}

@media(min-width: 960px) {
  .inpage-nav_inpage-nav__xw90o {
      margin:0;
      padding: 0
  }
}

.inpage-nav_inpage-nav-carousel__OhzHz {
  width: 100%;
  white-space: nowrap
}

.inpage-nav_inpage-nav-carousel__OhzHz .gl-carousel__content {
  height: 50px
}

.inpage-nav_inpage-nav-carousel__OhzHz .gl-carousel__content button:first-child {
  box-shadow: 20px 0 10px 0 var(--gl-color-white)
}

.inpage-nav_inpage-nav-carousel__OhzHz .gl-carousel__content button:first-child:after,.inpage-nav_inpage-nav-carousel__OhzHz .gl-carousel__content button:first-child:before {
  display: none
}

.inpage-nav_inpage-nav-carousel__OhzHz .gl-carousel__content button:last-child {
  box-shadow: -20px 0 10px 0 var(--gl-color-white)
}

.inpage-nav_inpage-nav-carousel__OhzHz .gl-carousel__content button:last-child:after,.inpage-nav_inpage-nav-carousel__OhzHz .gl-carousel__content button:last-child:before {
  display: none
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_inpage-nav-item-wrapper__R1un_:first-child .inpage-nav_nav-item__gXXR6 {
  margin-left: 0
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_inpage-nav-item-wrapper__R1un_:last-child .inpage-nav_nav-item__gXXR6 {
  margin-right: 0
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_nav-item__gXXR6 {
  display: flex;
  height: 50px;
  margin-left: var(--gl-spacing-0150);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-size: .9rem;
  color: var(--gl-color-grey-700)
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_nav-item__gXXR6.inpage-nav_selected__9jAst {
  border-bottom: 3px solid var(--gl-color-black)
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_nav-item__gXXR6.inpage-nav_selected__9jAst a {
  color: var(--gl-color-black);
  font-weight: 700;
  pointer-events: none
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_nav-item__gXXR6 a {
  display: flex;
  align-items: center
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_nav-item__gXXR6 a:first-letter {
  text-transform: uppercase
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_arrow-btn__Do7iC {
  min-height: var(--gl-spacing-0400);
  height: var(--gl-spacing-0400);
  width: var(--gl-spacing-0400)
}

.inpage-nav_inpage-nav-carousel__OhzHz .inpage-nav_arrow-btn__Do7iC:active {
  transform: translateY(-50%)
}

.plp-page_inpage-nav-wrapper__Qo2Rl {
  --nav-wrapper-margin-top: var(--gl-spacing-0150);
  margin: var(--gl-spacing-0150) 0;
  margin-top: var(--nav-wrapper-margin-top);
  top: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gl-color-white);
  border-bottom: 1px solid var(--gl-color-grey-100);
  /*box-shadow: -8px 8px 20px var(--white-dark);*/
  z-index: 5;
}

@media(max-width: 599px) {
  .plp-page_inpage-nav-wrapper__Qo2Rl .inpage-nav-slider {
      padding-left:var(--gl-spacing-0150);
      padding-right: var(--gl-spacing-0150)
  }
}

@media(min-width: 600px) {
  .plp-page_inpage-nav-wrapper__Qo2Rl {
      --nav-wrapper-margin-top:var(--gl-spacing-0200)
  }
}

@media(min-width: 960px) {
  .plp-page_inpage-nav-wrapper__Qo2Rl {
      --nav-wrapper-margin-top:var(--gl-spacing-0300)
  }
}

.plp-page_inpage-nav-wrapper__Qo2Rl .plp-page_inpage-nav__SEAko {
  overflow-y: hidden;
  overflow-x: auto
}

.plp-page_inpage-nav-wrapper__Qo2Rl .plp-page_inpage-nav__SEAko:not(:only-child) {
  margin-right: 3%
}

.plp-page_inpage-nav-wrapper__Qo2Rl:has(>:only-child) {
  justify-content: flex-end;
  margin-top: var(--gl-spacing-0150);
  margin-bottom: var(--gl-spacing-0100)
}

.plp-page_inpage-nav-wrapper__Qo2Rl:has(>:only-child) button {
  margin: var(--gl-spacing-0050) 0
}