---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
---

<Layout title="Contact Bryan">
  <p>
    Email: <a href="mailto:bryanhboucher@gmail.com"
      >bryanhboucher@gmail.com</a
    >
  </p>

  <p>
    LinkedIn: <a href="https://linkedin.com/bryan-boucher-04078389"
      >/bryan-boucher-04078389</a
    >
  </p>

</Layout>
