---
interface Props {
  title: string;
}

import Footer from "@components/Footer.astro";
import "@styles/global.css";
import { ACTION_ERROR_CODES } from "astro:actions";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <ViewTransitions />

    <title>Bryan Boucher</title>
    <meta name="description" content="Welcome to my personal site." />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Your Name" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <!-- <meta property="og:image" content="/assets/img/" /> -->
    <meta property="og:image:alt" content="Welcome to my personal site." />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content="Welcome to my personal site." />
  </head>
  <body>
    <div class="header" transition:persist>
      <h1 class="flex align-center cv-fr-header">Bryan Boucher</h1>
      <div class="flex headshot-container" style="margin-left:30px;">
        <img
          src="https://bryanboucher.com/assets/img/my-headshot-large-sq.webp"
          alt="Black and white headshot of Bryan"
          class="flex headshot"
          style="max-height:none; box-shadow:none;"
        />
      </div>
    </div>
    <section class="scroll-nav-wrapper flex" transition:persist>
      <div class="scroll-nav-full-width-bg"></div>
      <!--<div
        role="button"
        class="button"
        style="
  max-height: 100%;
  z-index: 6;
  position: absolute;
  right: 0;
  align-self: center;
  display: flex;
  background: #fafafa;
  border: 0.5px solid black;
  box-shadow: -20px 0 10px 0 var(--white-light);
"
        id="slideRight"
      >
        &gt;&gt;
      </div>-->
      <nav class="scroll-nav flex">
        <div role="list" class="scroll-nav-list-slider flex">
          <div class="nav-item-wrapper">
            <li class="nav-item"><strong>Contact</strong> | </li>
          </div>
          <div class="nav-item-wrapper">
            <li class="nav-item">
              Email:
              <a data-id="nav-link" href="mailto:bryanhboucher@gmail.com"
                >bryanhboucher@gmail.com</a
              >
            </li>
          </div>
          <div class="nav-item-wrapper">
            <li class="nav-item">
              Phone:
              <a data-id="nav-link" href="tel:+16032051246">(603) 205-1246</a>
            </li>
          </div>
          <!--<div class="nav-item-wrapper">
            <li class="nav-item">
              LinkedIn:
              <a
                data-id="nav-link"
                class="link"
                href="https://www.linkedin.com/in/bryan-boucher-04078389/"
                >/bryan-boucher-04078389</a
              >
            </li>
          </div>-->
        </div>
      </nav>
    </section>
    <main class="body-main" transition:animate="fade">
      <div class="cv-fr-container">
        <div class="cv-content-section">
          <div class="cv-fr-intro cv-fr-content">
            <h2 class="cv-fr-content-heading">
              Hi! 👋<br />Thanks for visiting my website.
            </h2>
            <p class="p-block">
              Following an early background in restaurant hospitality, I've
              spent the past decade leading digital experience for outdoor
              brands.
            </p>
            <p class="p-block">
              As I plan my next career step, I'm looking for a part-time,
              hands-on service role in an environment focused around quality
              food and beverages.
            </p>
            <p class="p-block">
              For more detail about my background,
              <a
                class="link"
                href="https://bryanboucher.com/assets/bryan-boucher-resume-hospitality-and-retail.pdf"
                target="_blank"
                rel="noopener noreferrer">view my full resume</a
              >.
            </p>
          </div>
          <div class="cv-fr-content cv-fr-content-1">
            <h2 class="cv-fr-content-heading">
              Rich expertise in hospitality & service
            </h2>
            <p>
              I grew up in the family restaurant business and have deep
              experience spanning front of house management, wine stewarding,
              hosting, bar service, and table service.
            </p>
          </div>
          <div class="cv-fr-content cv-fr-content-2">
            <h2 class="cv-fr-content-heading">
              Professional customer experience management
            </h2>
            <p>
              Since 2015, I've continued to hone my skills around customer
              service as a digital experience leader in the outdoor brand
              industry.
            </p>
          </div>
          <div class="cv-fr-content cv-fr-content-3">
            <h2 class="cv-fr-content-heading">A return to roots</h2>
            <p class="p-block">
              I'm eager to get out from behind a desk and work in an energizing
              food and beverage service role.
            </p>
            <p class="p-block">I have flexible part-time availability.</p>
            <p class="p-block">
              To explore my full work history,
              <a
                class="link"
                href="https://bryanboucher.com/assets/bryan-boucher-resume-hospitality-and-retail.pdf"
                target="_blank"
                rel="noopener noreferrer">view my resume</a
              >.
            </p>
          </div>
        </div>
        <img
          src="/assets/moka.jpg"
          alt="line-drawn sketch of a baguette"
          class="cv-fr-img cv-fr-img-1"
        />
        <img
          src="/assets/baguette.jpg"
          alt="line-drawn sketch of a moka pot coffee maker"
          class="cv-fr-img cv-fr-img-2"
        />
        <img
          src="/assets/wine.jpg"
          alt="line-drawn sketch of a wine glass next to a bottle"
          class="cv-fr-img cv-fr-img-3"
        />
      </div>
    </main>
    <Footer transition:persist />
  </body>
</html>
