---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
---

<Layout title="Bryan Boucher">
  <p class="p-block">Thanks for visiting my website!</p>
  <p class="p-block">
    I grew up on the NH coast surrounded and rooted by family. My parents'
    restaurant and dad's french cooking instilled me with a firm belief that the
    joys of food and hospitality make life better. To me, childhood in New
    England smells like a lazy summer beach day, the changing of seasons, a new
    book, simmering food.
  </p>

  <p class="p-block">
    In pursuit of outdoor exploration, I moved to CO in 2023. I still dream in
    ocean air and pine forests, but high-altitude sunshine provides a
    captivating change of scenery.
  </p>
  <p class="p-block">
    I try to be out on mountain trails as often as I can be, and while I miss being
    near the ocean, the odd alpine lake - while tougher to get to - supplies a
    similar sense of calm.
  </p>
  <p class="p-block">
    Wherever I might be, I'm convinced that time outdoors is a key ingredient to
    a well-seasoned life.
  </p>
  <p class="p-block">Boulder, CO</p>
</Layout>
