---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
---

<Layout title="Bryan Boucher">
  <p class="p-block">Welcome to my website!</p>
  <p class="p-block">A little bit about me:</p>
  <p><strong>Location: </strong>📍 Boulder, CO</p>
  <p><strong>Hometown: </strong>🏡 Hampton, NH</p>
  <p>
    <strong>Hobbies: </strong>Cooking, Reading, Drawing/Painting, Hiking, Cycling, Trail
    Running, Skiing
  </p>
  <p class="p-block">
    I'm naturally curious and most in my element when either exploring
    outdoors or creating something with my hands. You'll often find me out on local trails or at home working on a project - perhaps covered in sawdust, dirt, or in the kitchen.</p>
  <p class="p-block">
    I enjoy relaxing over a book and a cup of coffee, leisurely cooking with a glass of wine, playing cards, or doing yoga.</p>
    <p class="p-block">By day, I help organizations streamline processes and create meaningful experiences for the communities they serve, ideally with companies
    that are doing good for the planet.</p>
    <p class="p-block">I'm a firm believer that
    good food, good design, and good company make life significantly better.
  </p>
</Layout>
