---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Bryan Boucher">
  <div class="hp-header">
    <div class="flex align-end">
      <h1 class="raleway-h1">Bryan<br>Boucher</h1>
    </div>
    <div class="flex headshot-container">
      <img src="./assets/img/my-headshot-large-sq.webp" alt="Black and white headshot of Bryan" class="headshot">
    </div>
  </div>

  <!-- begin adidas carousel -->

  <section class="plp-page_inpage-nav-wrapper__Qo2Rl full-width-only-in-mobile">
            <nav class="inpage-nav_inpage-nav__xw90o plp-page_inpage-nav__SEAko">
                <div class="gl-carousel inpage-nav_inpage-nav-carousel__OhzHz">
                    <div class="gl-carousel__content">
                        <div role="list" class="gl-carousel__slider inpage-nav-slider">
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6 inpage-nav_selected__9jAst">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-clothing">All Men &#x27;s Clothing</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-hoodies_sweatshirts">Hoodies &amp;Sweatshirts</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-pants">Pants</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-tops">T-Shirts &amp;Tops</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-fleece">Fleece</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-jackets">Jackets &amp;Coats</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-jerseys">Jerseys</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-shorts">Shorts</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-matching_sets">Matching Sets</a>
                                </li>
                            </div>
                            <div class="gl-carousel__item-wrapper inpage-nav_inpage-nav-item-wrapper__R1un_">
                                <li class="inpage-nav_nav-item__gXXR6">
                                    <a data-testid="inpage-nav-item-link" href="/us/men-track_suits">Tracksuits</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

  <!-- end adidas carousel -->

  <p>
    Lorem ipsum, dolor sit amet <strong>consectetur adipisicing</strong> elit. Minus
    sunt porro magni, possimus repellendus maxime. Voluptate incidunt laboriosam
    officia! Cum, ducimus cumque? Repudiandae atque nostrum perspiciatis repellat
    sit libero. Enim <a href="/now">voluptate</a> aliquam quae sit, cum quibusdam
    ad <a href="/uses">possimus eaque</a> delectus eos! Laborum inventore corrupti,
    animi id recusandae delectus est nisi!
  </p>
</Layout>
