---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
---

<Layout title="Now & Next">
  <p class="updated-date p-block"># Updated Nov 8, 2024</p>
  <p>
    <strong>Now</strong>
  </p>
  <p class="p-block">
    I moved from the east coast to Boulder, CO in mid-spring of 2023 to explore
    a new place.
  </p>
  <p class="p-block">
    Upon landing here, I took some time off to explore everything the Colorado
    front-range has to offer.
  </p>
  <p class="p-block">
    After settling, I worked a stint at Alterra Mountain Company, but the role I
    envisioned their never quite materialized.
  </p>
  <p class="p-block">
    Since, I've been searching for work in a customer-centric, technology driven
    organization - and exploring additional opportunities for impact-based work,
    either full-time or on a volunteer basis.
  </p>
  <p class="p-block">
    I spent this past summer volunteering as a Teaching Assistant at a kids'
    nature camp here in Boulder. I also attended a mix of sustainable food meet
    ups and events (an interest area I'm passionate about), and mixed in plenty
    of hiking, gravel biking, and swimming at the local pools & reservoir.
  </p>
  <p>
    <strong>Next</strong>
  </p>
  <p class="p-block">
    Looking ahead to my next role, I'm excited about exercising my skills to
    bridge the gaps between data, design, and action in a customer-centric
    organization.
  </p>
  <p class="p-block">
    Over the long-term, I'd love to do this kind of work for the good of our
    planet.
  </p>
</Layout>
