---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
---

<Layout title="Now & Next">
  <p class="updated-date p-block"># Updated Nov 8, 2024</p>
  <p>
    <strong>Now</strong>
  </p>
  <p class="p-block">
    I moved from the east coast to Boulder, CO in the spring of 2023 to explore
    Colorado's Front Range and experience life in a new place.
  </p>
  <p class="p-block">
    I've tried to make the most of the sunshine and mountain access since I've
    arrived. Gravel biking, hiking, trail running, and skiing keep me active;
    neighborly brunches and good food with friends keep me happy.
  </p>
  <p>
    <strong>Next</strong>
  </p>
  <p class="p-block">
    On the professional front, I specialize in customer experience innovation,
    team leadership, and digital operations. I'm a jack of many trades and
    master of few.
    <p class="p-block">
      Looking ahead, I'm excited about exercising my skills to bridge the gaps
      between data, design, and action in a customer-centric organization. I'm
      especially drawn to innovative, tech-forward environments, or orgs working
      to further sustainability.
    </p>
  </p>
</Layout>
