---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
---

<Layout title="Bryan's Resume">
  <p>To see a summary of my professional experience, view my resume <a href="https://docs.google.com/document/d/1JAsNsbVz6Wj81Y-h5C_XOe46snQnBwHwLW3bMc2ExoU/edit?usp=sharing">here</a>.</p>  
</Layout>