<div class="header" transition:persist>
  <div class="flex align-end">
    <h1 class="raleway-h1">Bryan<br />Boucher</h1>
  </div>
  <div class="flex headshot-container">
    <img
      src="https://bryanboucher.com/assets/img/my-headshot-large-sq.webp"
      alt="Black and white headshot of Bryan"
      class="headshot"
    />
  </div>
</div>

<section class="scroll-nav-wrapper flex" transition:persist>
  <nav class="scroll-nav flex">
        <div role="list" class="scroll-nav-list-slider flex">
          <div
            class="nav-item-wrapper"
          >
            <li class="nav-item">
              <a data-id="nav-link" href="/"
                >About</a
              >
            </li>
          </div>
          <div
            class="nav-item-wrapper"
          >
            <li class="nav-item">
              <a
                data-id="nav-link"
                href="/resume">Resume</a
              >
            </li>
          </div>
          <div
            class="nav-item-wrapper"
          >
            <li class="nav-item">
              <a
                data-id="nav-link"
                href="/contact">Contact</a
              >
            </li>
          </div>
    </div>
  </nav>
</section>

