---
interface Props {
  title: string;
}

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@styles/global.css";
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <ViewTransitions />

    <title>Bryan Boucher</title>
    <meta name="description" content="Welcome to my personal site." />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Your Name" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <!-- <meta property="og:image" content="/assets/img/" /> -->
    <meta property="og:image:alt" content="Welcome to my personal site." />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content="Welcome to my personal site." />
  </head>
  <body>
    <Header transition:persist />
    <main class="body-main" transition:animate="fade">
      <slot />
    </main>
    <Footer transition:persist />
  </body>
</html>
